@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.cursive {
  font-family: "Cedarville Cursive", cursive;
}
.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.button-primary {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.32) 100%
    ),
    rgba(113, 47, 255, 0.12);
  box-shadow: inset 0 0 12px #bf97ff3d;
}
.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.42) 100%
    ),
    rgba(113, 47, 255, 0.24);
  box-shadow: inset 0 0 12px #bf97ff70;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

/* --- Custom footer styles --- */

.social-icon {
  @apply w-[60px] h-[60px] flex items-center justify-center rounded-full border-2 border-[#e2dede] relative transition-all duration-300;
  box-shadow: 0 0 0 #8000ff inset;
}

.social-icon:hover {
  box-shadow: 0 0 50px 100px #8000ff inset;
  border: none;
  transition-duration: 1s;
}

.footer-eye {
  width: 50px;
  height: 50px;
  background-color: #dfd2d2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer-pupil {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  border: 5px solid #413333;
  filter: blur(0.6px);
}

.shadow-inner-right {
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.233) inset,
    10px 10px 5px rgba(41, 33, 33, 0.644) inset;
}

.shadow-inner-left {
  box-shadow: -10px -15px 5px rgba(0, 0, 0, 0.349) inset;
}

/* === Custom Cursor Styles === */

.cursor-inner {
  @apply fixed top-0 left-0 rounded-full pointer-events-none z-[9999];
  width: 8px;
  height: 8px;
  background-color: #00bfff; /* light blue */
  transform: translate(-50%, -50%);
  transition: width 0.2s, height 0.2s;
}

.cursor-outer {
  @apply fixed top-0 left-0 rounded-full pointer-events-none z-[9998];
  width: 35px;
  height: 35px;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
  transition: width 0.2s, height 0.2s;
}

/* Hover State */
.cursor-inner.hover {
  width: 25px;
  height: 25px;
  mix-blend-mode: difference;
}

.cursor-outer.hover {
  width: 50px;
  height: 50px;
}

/* Jello hover effect */
.jello {
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(-45deg, #0ea5e9, #8b5cf6, #0ea5e9, #8b5cf6);
  background-size: 400% 400%;
  transition: transform 0.3s ease;
  transform-origin: center center;
}

.jello:hover {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #03e6ff, #8000ff);
  animation: jello-vertical 0.6s both;
}

/* Jello keyframes */
@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

#name {
  align-items: flex-start;
  background: linear-gradient(135deg, #0ea5e9, #8b5cf6, #0ea5e9, #8b5cf6);
  background-clip: text;
  background-size: 400% 400%;
  animation: 3s infinite gradient;
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.hey {
  color: #fff;
  position: absolute;
  font-size: 2rem;
  font-weight: 300;
  background-color: #20222e9f;
  padding: 5px 10px;
  border-radius: 20px;
  left: 10px;
  top: 5px;
  opacity: 0;
}

.popup {
  animation: 3s linear pop-up;
}

@keyframes pop-up {
  from {
    bottom: -50px;
    left: 50px;
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
